{% extends 'base.html' %}
{% block 'main' %}

<div class="row">
    <div class="col-md-12 mt-5">
        <h2>About Us</h2>
        <hr>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita animi ab dolorum, est perspiciatis fugiat id. Recusandae exercitationem quisquam quam dignissimos officiis accusamus autem! Error dicta incidunt adipisci quia omnis!</p>
    </div>

    <div class="col-md-6 mt-5">
        <h2>Vision</h2>
        <hr>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis consectetur deleniti iusto porro dignissimos nesciunt, quo nam hic nemo, nisi velit. At aliquid architecto odit quae dignissimos veniam praesentium numquam!</p>
    </div>

    <div class="col-md-6 mt-5">
        <h2>Mission</h2>
        <hr>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis consectetur deleniti iusto porro dignissimos nesciunt, quo nam hic nemo, nisi velit. At aliquid architecto odit quae dignissimos veniam praesentium numquam!</p>
    </div>
    <!-- statistics -->
     <h2 class="mt-5">statistics</h2>
     <hr>
    <div class="col-md-4 my-5 shadow p-5">
            <h1 class="text-warning text-center">10000+</h1>
            <h3 class="text-center">Happy Customers...</h3>
    </div>
    <div class="col-md-4 my-5 shadow p-5">
        <h1 class="text-warning text-center">20000+</h1>
        <h3 class="text-center">Orders delivered...</h3>
    </div>
    <div class="col-md-4 my-5 shadow p-5">
        <h1 class="text-warning text-center">600+</h1>
        <h3 class="text-center">Products...</h3>
    </div>
</div>


{% endblock 'main' %}