<!-- footer start -->
<div class="row p-3">
    <div class="col-md-4 bg-secondary-subtle p-3">
        <h5>Adress</h5>
        <hr>
        7th floor Oasis Royale, <br>
        Near TMC office, <br>
        Thane 400030, <br>
        Maharashtra, <br>
        contact 7666980874
         
    </div>
    <div class="col-md-4 bg-secondary-subtle p-3">
        <h5>Quick Links</h5>
        <hr>
        <a href="/" class="anchor"><strong>Home</strong></a><br>
        <a href="/about" class="anchor"><strong>About</strong></a><br>
        <a href="/contact" class="anchor"><strong>Contact</strong></a><br>
        <a href="/viewcart" class="anchor"><strong>Cart</strong></a>
    </div>
    <div class="col-md-4 bg-secondary-subtle p-3">
        <h5>Connect Us</h5>
        <hr>
        <h5 class="social"><a href="https://www.facebook.com" class="anchor" target="_blank"><i class="bi bi-facebook"></i></a></h5>
        <h5 class="social"><a href="https://www.instagram.com" class="anchor" target="_blank"><i class="bi bi-instagram"></i></a></h5>
        <h5 class="social"><a href="https://www.twitter.com" class="anchor" target="_blank"><i class="bi bi-twitter"></i></a></h5>
        <h5 class="social"><a href="https://www.linkedin.com" class="anchor" target="_blank"><i class="bi bi-linkedin"></i></a></h5>
    </div> 
</div><!-- footer end -->
</div>
<script src="static/js/bootstrap.min.js"></script>
<script src="static/js/popper.js"></script>
</body>
</html>